/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'assets/_reset';
@import 'assets/_variables';

body {
  font-family: 'Roboto';
  display: flex;
  min-height: 100vh;
}
